.user-item {
  padding: 12px 24px 24px;
  background-color: bisque;
  margin: 0 0 2px;
}

.user-item h2 {
  font-size: 1.2em;
  margin-top: 0;
}

.user-details {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}

.user-details > *  {
  flex: 1 1 0px;
}

.user-details span {
  font-size: 0.8em;
}